each venue in venues
  .card
    .card__figure(style= 'background-image:url("' + venue.photo + '")')
    .card__content
      .card__title
        h2 #[a(href= 'https://foursquare.com/v/' + venue.id)= venue.name]
      p.card__subheading= venue.address

      p.card__heading= venue.tips

      if venue.userAttendance
        button.button.button--small.button--check(type='button')= venue.attendees + ' Attendee' + (venue.attendees > 1 ? 's' : '')
      else
        button.button.button--small(type='button')= venue.attendees + ' Attendee' + (venue.attendees > 1 ? 's' : '')