extends layout.pug


block header
  header.header
    .header-wrapper
      a(href='/').left
        .brand-logo NitEx

      form.form.left(method='GET', action='/explore')
        input.form__search.form__search--small(type='text', placeholder='Where you at', name='location', value= location || '')

block main_content
  .card-wrapper
    .card.card--nocontent
      h4= error