extends layout.pug


block header
  header.header
    .header-wrapper
      a(href='/').left
        .brand-logo NitEx

      nav.nav.right
        if user
          button.nav__item(type='button', data-modal='logout') #[span.avatar(style= 'background-image:url("' + user.twitterAvatar + '")')]
        else
          button.nav__item(type='button', data-modal='login') #[i.fa.fa-user-circle]

block main_content
  .hero-wrapper
    .hero
      h1 Find the best nightlife exprerience!
      form.form(method='GET', action='/explore')
        input.form__search(type='text', placeholder='Where you at', name='location')
        input.form__submit(type='submit', value='Search')