@charset "UTF-8";
html {
  font-size: 14px;
}

body {
  position: relative;
  margin: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  background-color: #0E1674;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 400;
}
@media (min-width: 538px) {
  h1 {
    font-size: 2.5rem;
  }
}

h2 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.5rem;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

.link {
  font-weight: 400;
  color: #00FBC3;
}

.brand-logo {
  display: inline-block;
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 700;
  text-transform: uppercase;
}
@media (min-width: 538px) {
  .brand-logo {
    width: 60px;
    font-size: 1.5rem;
  }
}

.nav__item {
  display: inline-block;
  border: 0;
  padding: 0;
  background-color: transparent;
  color: inherit;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  cursor: pointer;
}
.nav__item:focus {
  outline: 0;
}
@media (min-width: 538px) {
  .nav__item {
    font-size: 1.5rem;
  }
}

.button, .form__submit {
  box-sizing: border-box;
  height: 45px;
  padding: 0 2em;
  border: 0;
  margin: 0;
  border-radius: 3px;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  background-color: rgba(0, 251, 195, 0.8);
  color: #fff;
  user-select: none;
  cursor: pointer;
}
.button:hover, .form__submit:hover {
  background-color: rgba(0, 251, 195, 0.7);
}
.button:focus, .form__submit:focus {
  outline: 0;
}

.button--fullwidth {
  width: 100%;
}
.button--alt {
  background-color: #4A90E2;
}
.button--alt:hover {
  background-color: rgba(14, 22, 116, 0.9);
}
.button--danger {
  background-color: #DD6775;
}
.button--danger:hover {
  background-color: rgba(221, 103, 117, 0.9);
}
.button--small {
  height: 30px;
  padding: 0 1.1em;
  font-size: 0.9rem;
}
.button--secondary {
  border: 1px solid #00FBC3;
  background-color: #fff;
  color: #00FBC3;
}
.button--secondary:hover {
  background-color: #fff;
  color: #00FBC3;
}
.button--icon {
  position: relative;
}
.button--icon__icon {
  position: absolute;
  left: 1em;
  font-size: 1.2em;
}
.button--check:after {
  margin-left: 1ex;
  font: normal normal normal 14px/1 FontAwesome;
  content: "ÔÅò";
}

@media (min-width: 538px) {
  .form {
    margin: 0 auto;
  }
}
.form__search {
  box-sizing: border-box;
  height: 45px;
  width: 100%;
  padding: 0 1em 0;
  border: 0;
  margin-bottom: 1rem;
  border-radius: 3px;
  outline: 0;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
@media (min-width: 538px) {
  .form__search {
    width: 350px;
    margin-right: 20px;
  }
}
.form__search--small {
  width: 40vw;
  max-width: 350px;
  height: 34px;
}
.form__input {
  box-sizing: border-box;
  width: 100%;
  height: 45px;
  padding: 0 1em 0;
  border: 1px solid rgba(74, 74, 74, 0.3);
  border-radius: 3px;
  margin-bottom: 1rem;
  font-family: "Roboto", "Helvetica", sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.form__input:focus {
  outline: 0;
}
.form__submit {
  width: 100%;
  -webkit-appearance: none;
}
@media (min-width: 538px) {
  .form__submit {
    width: auto;
  }
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  transition: opacity 200ms ease-in-out;
}
.modal.show {
  opacity: 1;
  z-index: 3;
}
.modal__wrapper {
  margin: 100px auto 0;
  background-color: #fff;
}
@media (min-width: 538px) {
  .modal__wrapper {
    width: 500px;
  }
}
.modal__header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgba(74, 74, 74, 0.2);
}
.modal__main {
  padding: 20px;
}
.modal__hint {
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 400;
}

.card {
  max-width: 700px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
}
.card--nocontent {
  text-align: center;
}
.card__figure {
  width: 200px;
  height: 140px;
  margin-bottom: 20px;
  background-color: rgba(#00FBC3);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
@media (min-width: 538px) {
  .card__figure {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
}
.card__content {
  text-align: left;
}
@media (min-width: 538px) {
  .card__content {
    float: left;
    width: calc(100% - 220px);
  }
}
.card__title {
  color: #00FBC3;
  max-height: 24px;
  overflow: hidden;
}
.card__subheading {
  max-height: 16px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.8);
  overflow: hidden;
}
.card__heading {
  max-height: 40px;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 20px;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.card:after, .header-wrapper:after,
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.header {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}
@media (min-width: 538px) {
  .header {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.header--alt {
  background-color: #0D0F54;
}

.header-wrapper {
  max-width: 960px;
  height: 60px;
  margin: 0 auto;
  line-height: 60px;
}

.hero-wrapper {
  position: relative;
  z-index: 1;
  height: calc(100vh - 60px);
  min-height: 320px;
  padding-top: 60px;
  background-color: #0D0F54;
  background-image: url("/images/bg.jpg");
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  color: #fff;
  text-align: center;
}
@media (min-width: 538px) {
  .hero-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.hero {
  position: absolute;
  top: 50%;
  left: 20px;
  right: 20px;
  transform: translate(0, -50%);
}
@media (min-width: 538px) {
  .hero {
    left: 20px;
    right: 20px;
  }
}

.card-wrapper {
  min-height: calc(100vh - 180px);
  padding: 60px 20px 120px;
  color: #fff;
}
@media (min-width: 538px) {
  .card-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
}
