.container {
    compose: container from '../app.css';
}


.home {
    position: relative;
    z-index: 1;
    height: calc(100vh - 60px);
    min-height: 320px;
    padding-top: 60px;
    background-color: #0D0F54;
    background-image: url("../../../public/images/bg.jpg");
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}


.hero {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
    transform: translate(0, -50%);
}
