.textField {
    box-sizing: border-box;
    width: 40vw;
    max-width: 350px;
    height: 34px;
    padding: 0 1em 0;
    border: 0;
    border-radius: 3px;
    outline: 0;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

.textFieldLarge {
    composes: textField;
    width: 100%;
    max-width: 100%;
    height: 45px;
    margin-bottom: 1rem;
}
@media (min-width: 538px) {
    .textFieldLarge {
        width: 350px;
        margin-right: 20px;
    }
}


.submit {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    height: 45px;
    padding: 0 2em;
    border: 0;
    margin: 0;
    border-radius: 3px;
    font-family: "Roboto", "Helvetica", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 45px;
    background-color: rgba(0, 251, 195, 0.8);
    color: #fff;
    user-select: none;
    cursor: pointer;
    transition: all 0.15s;
}
.submit:hover {
    background-color: rgba(0, 251, 195, 0.7);
}
.submit:focus {
    outline: 0;
}

@media (min-width: 538px) {
    .submit {
        width: auto;
    }
}
